@mixin button() {
  padding: 12px 24px;

  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonGreen {
  background-color: $greenDominant;
  color: $whiteText;
  @include button();

  transition: border ease 0.8s, background-color ease 0.8s;

  &:active {
    border: 10px inset $greenDominant;
    background-color: $orangeBackground;
  }
}

.buttonLink {
  color: $whiteText;
  text-decoration: underline;
  @include button();

  transition: background-color ease 0.8s;

  &:hover {
    background-color: rgb(255, 123, 0);
  }
}

.buttonMenu {
  color: $greenDominant;
  @include button();
  font-weight: 400;

  padding-left: 0;

  @media all and (min-width: 1200px) {
    padding: 3px 30px 0 0;
  }

  transition: background-color ease 0.8s, border-radius ease 0.8s;

  &:hover {
    padding-left: 30px;
    background-color: $whiteText;
    border-radius: 25px;
  }
}

.buttonSocial {
  width: 25px;
  height: 26px;

  color: $whiteText;
  @include text($whiteText, 1.3rem, 600);

  padding: 12px 16px 0 0;
}
