@mixin text($color, $fontSize, $fontWeight) {
  color: $color;

  font-size: $fontSize;
  font-weight: $fontWeight;

  text-align: center;
}

.title {
  @include text($greenDominant, 1.5rem, 600);

  @media all and (min-width: 768px) {
    font-size: 2.25rem;
    text-align: left;
  }
}

.subtitle {
  @include text($greenDominant, 1.5rem, 600);

  @media all and (min-width: 1200px) {
    font-size: 2.25rem;
  }
}
