<section class="articles">
  <h2 class="subtitle">
    Volverse organizado se siente mejor con
    <span class="uppercase">open spaces</span>
  </h2>

  <article class="article">
    <img
      src="./assets/images/icon_1.png"
      alt="Lo que necesitas"
      class="article__image"
    />
    <h3 class="article__title">Lo que necesitas</h3>
    <p class="article__text">
      Una línea de productos diseñados para todos tus espacios
    </p>
  </article>

  <article class="article">
    <img
      src="./assets/images/Biodegradable bag.png"
      alt="Materias primas sustentables"
      class="article__image"
    />
    <h3 class="article__title">Materias primas sustentables</h3>
    <p class="article__text">
      Todos los productos con materias primas sustentables
    </p>
  </article>

  <article class="article">
    <img src="./assets/images/Park.png" alt="Guía" class="article__image" />
    <h3 class="article__title">Guía</h3>
    <p class="article__text">
      Soporte y asesoramiento para ayudarte con tu objetivo
    </p>
  </article>
</section>
