<footer class="footer">
  <nav class="nav">
    <h5 class="nav__title">Tienda</h5>

    <ul class="nav__list">
      <li class="nav__list__item">
        <a href="https://adalab.es/" class="nav__list__item__link">Productos</a>
      </li>
      <li class="nav__list__item">
        <a href="https://adalab.es/" class="nav__list__item__link">Cajoneras</a>
      </li>
      <li class="nav__list__item">
        <a href="https://adalab.es/" class="nav__list__item__link"
          >Para toda la casa</a
        >
      </li>
      <li class="nav__list__item">
        <a href="https://adalab.es/" class="nav__list__item__link"
          >Habitaciones</a
        >
      </li>
    </ul>
  </nav>

  <nav class="nav">
    <h5 class="nav__title">Nosotros</h5>

    <ul class="nav__list">
      <li class="nav__list__item">
        <a href="https://adalab.es/" class="nav__list__item__link">
          <span class="capitalize">Nuestra guía</span>
        </a>
      </li>
      <li class="nav__list__item">
        <a href="https://adalab.es/" class="nav__list__item__link">
          Nuestro diseño
        </a>
      </li>
      <li class="nav__list__item">
        <a href="https://adalab.es/" class="nav__list__item__link">
          Nuestra historia
        </a>
      </li>
      <li class="nav__list__item">
        <a href="https://adalab.es/" class="nav__list__item__link"> Ayuda </a>
      </li>
    </ul>
  </nav>

  <nav class="nav">
    <h5 class="nav__title">Contacto</h5>

    <ul class="nav__list">
      <li class="nav__list__item">
        <a href="mailto:hola@adalab.es" class="nav__list__item__link">
          ayuda@openspaces.com
        </a>
      </li>
      <li class="nav__list__item">
        <a href="https://adalab.es/" class="nav__list__item__link"> Socios </a>
      </li>
    </ul>

    <ul class="nav__listSocial">
      <li class="nav__listSocial__item">
        <a href="https://adalab.es/" class="nav__listSocial__item__link">
          <i class="fa-brands fa-linkedin-in"></i>
        </a>
      </li>
      <li class="nav__listSocial__item">
        <a href="https://adalab.es/" class="nav__listSocial__item__link">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </li>
      <li class="nav__listSocial__item">
        <a href="https://adalab.es/" class="nav__listSocial__item__link">
          <i class="fa-brands fa-twitter"></i>
        </a>
      </li>
    </ul>
  </nav>
</footer>
