<footer class="footer">
  <nav class="nav">
    <div class="nav__links">
      <div class="container">
        <h5 class="nav__links__title">Tienda</h5>
        <ul class="nav__links__list">
          <li>
            <a href="https://adalab.es/" class="links">Productos</a>
          </li>
          <li>
            <a href="https://adalab.es/" class="links">Cajoneras</a>
          </li>
          <li>
            <a href="https://adalab.es/" class="links">Para toda la casa</a>
          </li>
          <li>
            <a href="https://adalab.es/" class="links">Habitaciones</a>
          </li>
        </ul>
      </div>

      <div class="container">
        <h5 class="nav__links__title">Nosotros</h5>
        <ul class="nav__links__list">
          <li>
            <a href="https://adalab.es/" class="links">
              <span class="capitalize">Nuestra guía</span>
            </a>
          </li>
          <li>
            <a href="https://adalab.es/" class="links"> Nuestro diseño </a>
          </li>
          <li>
            <a href="https://adalab.es/" class="links"> Nuestra historia </a>
          </li>
          <li>
            <a href="https://adalab.es/" class="links"> Ayuda </a>
          </li>
        </ul>
      </div>

      <div class="container">
        <h5 class="nav__links__title">Contacto</h5>
        <ul class="nav__links__list">
          <li>
            <a href="mailto:hola@adalab.es" class="links">
              ayuda@openspaces.com
            </a>
          </li>
          <li>
            <a href="https://adalab.es/" class="links"> Socios </a>
          </li>
        </ul>
        <ul class="nav__links__listSocial">
          <li>
            <a href="https://adalab.es/" class="buttonSocial">
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </li>
          <li>
            <a href="https://adalab.es/" class="buttonSocial">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </li>
          <li>
            <a href="https://adalab.es/" class="buttonSocial">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <a href="#top" class="nav__backTop" title="Pulsa aquí para volver arriba">
      <i class="fa-solid fa-arrow-up footer__backTop__icon"></i>
    </a>
  </nav>
</footer>
