<header class="header">
  <nav class="header__nav">
    <a
      href="https://adalab.es/"
      class="header__menu"
      title="Pulsa aquí para desplegar el menú"
    >
      <i class="fa-solid fa-bars"></i>
    </a>

    <ul class="header__nav__list">
      <li class="header__nav__list__item">
        <a href="https://adalab.es/" class="header__nav__list__item__link">
          Productos
        </a>
      </li>
      <li class="header__nav__list__item">
        <a href="https://adalab.es/" class="header__nav__list__item__link">
          Colecciones
        </a>
      </li>
      <li class="header__nav__list__item">
        <a href="https://adalab.es/" class="header__nav__list__item__link">
          Tienda
        </a>
      </li>
      <li class="header__nav__list__item">
        <a href="https://adalab.es/" class="header__nav__list__item__link">
          Inicio
        </a>
      </li>
    </ul>
  </nav>

  <img
    src="./assets/images/logo.png"
    alt="Logo de Open Spaces"
    class="header__logo"
  />
</header>
