<header class="header" id="top">
  <nav class="header__nav">
    <a
      href="https://adalab.es/"
      class="buttonMenu"
      title="Pulsa aquí para desplegar el menú"
      target="_blank"
    >
      <i class="fa-solid fa-bars header__nav__icon"></i>
    </a>

    <ul class="header__nav__list">
      <li>
        <a
          href="https://adalab.es/"
          class="buttonMenu"
          title="Pulsa aquí para conocer nuestros magníficos productos"
          target="_blank"
        >
          Productos
        </a>
      </li>
      <li>
        <a
          href="https://adalab.es/"
          class="buttonMenu"
          title="Pulsa aquí para ver nuestras colecciones e inspírate"
          target="_blank"
        >
          Colecciones
        </a>
      </li>
      <li>
        <a
          href="https://adalab.es/"
          class="buttonMenu"
          title="Pulsa aquí y comienza a comprar"
          target="_blank"
        >
          Tienda
        </a>
      </li>
      <li>
        <a
          href="https://adalab.es/"
          class="buttonMenu"
          title="Pulsa aquí para regresar donde todo comienza"
          target="_blank"
        >
          Inicio
        </a>
      </li>
    </ul>
  </nav>

  <img
    src="./assets/images/logo.png"
    alt="Logo de Open Spaces"
    class="header__logo"
  />
</header>
