/* COLORS */

$greyBackground: #f0ebe5;
$greyText: #b6c8c9;
$orangeBackground: #ff975a;
$greenDominant: #0c474b;
$whiteText: #ffffff;

/* FONTS */

$font: "Poppins", sans-serif;

/* SIZES */
