.footer {
  background-color: $greenDominant;

  padding: 56px 0;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */

  gap: 20px;

  .nav {
    width: 208px;

    margin: 0 59px 0 auto;

    &__title {
      @include text($greyText, 1.25rem, 600);
      text-align: left;
    }
  }
}
