.footer {
  background-color: $greenDominant;

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    @media all and (min-width: 768px) {
      padding: 71px 0 74px;
    }

    &__links {
      padding: 56px 0 56px 10%;

      display: flex;
      flex-direction: column;
      gap: 18px;

      @media all and (min-width: 768px) {
        padding: 0;

        flex: 1 1 90%;

        flex-direction: row;
        justify-content: center;
        gap: 12%;
      }

      @media all and (min-width: 1200px) {
        flex-basis: 80%;
        gap: 15%;
      }

      &__title {
        @include text($greyText, 1.25rem, 600);
        text-align: left;

        padding-bottom: 8px;
      }

      &__list {
        padding-bottom: 12px;

        line-height: 1.3rem;
      }

      &__listSocial {
        display: flex;
      }
    }

    &__backTop {
      color: $whiteText;

      position: absolute;
      bottom: 16px;
      right: 28px;

      @media all and (min-width: 768px) {
        bottom: 89px;
        right: 57px;

        flex: 1 1 10%;
        justify-content: center;
      }

      @media all and (min-width: 1200px) {
        bottom: 30%;
        right: 12%;

        flex-basis: 20%;
      }

      &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
