.header {
  width: 100%;

  margin-top: 19px;

  position: absolute;

  display: flex;
  align-items: center;

  &__nav {
    position: fixed;
    left: 10%;

    &__menu {
      width: 24px;
      height: 24px;

      text-align: center;

      &__icon {
        font-size: 1.125rem;
        line-height: 1.5rem;
        color: $greenDominant;
      }
    }

    &__list {
      display: none;
    }
  }

  &__logo {
    display: block;
    margin: 0 auto;
  }
}
