.header {
  width: 100%;

  margin-top: 19px;

  position: absolute;

  display: flex;
  align-items: center;

  @media all and (min-width: 768px) {
    margin-top: 39px;
  }

  &__nav {
    position: fixed;
    left: 10%;

    &__icon {
      font-size: 1.125rem;
      line-height: 1.5rem;
      color: $greenDominant;
    }

    &__list {
      display: none;
    }
  }

  &__logo {
    display: block;
    margin: 0 auto;
  }
}
