.header {
  width: 100%;

  margin-top: 19px;

  position: absolute;

  display: flex;
  align-items: center;

  @media all and (min-width: 768px) {
    margin-top: 39px;
  }

  &__nav {
    position: fixed;
    left: 10%;

    @media all and (min-width: 1200px) {
      left: 15%;
    }

    &__icon {
      font-size: 1.125rem;

      @media all and (min-width: 1200px) {
        display: none;
      }
    }

    &__list {
      display: none;

      @media all and (min-width: 1200px) {
        display: flex;
      }
    }
  }

  &__logo {
    display: block;
    margin: 0 auto;
  }
}
