.shipping {
  background-color: $orangeBackground;

  padding: 45px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;

  &__title {
    @include text($whiteText, 1.5rem, 600);
    padding-bottom: 8px;
  }

  &__text {
    @include text($whiteText, 0.875rem, 400);
  }
}
